<h1>Editing todo_history</h1>

<% form_tag :action => 'update', :id => @todo_history do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @todo_history %> |
<%= link_to 'Back', :action => 'list' %>
