<%= error_messages_for 'dwarf' %>

<!--[form:dwarf]-->
<p><label for="dwarf_name">Name</label><br/>
<%= text_field 'dwarf', 'name'  %></p>

<p><label for="dwarf_created_at">Created at</label><br/>
<%= datetime_select 'dwarf', 'created_at'  %></p>

<p><label for="dwarf_updated_at">Updated at</label><br/>
<%= datetime_select 'dwarf', 'updated_at'  %></p>

<p><label for="dwarf_deleted_at">Deleted at</label><br/>
<%= datetime_select 'dwarf', 'deleted_at'  %></p>
<!--[eoform:dwarf]-->

